{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/boxicons.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/flaticon.css') }}" />

    <!-- Ajoutez d'autres fichiers CSS ici -->
{% endblock %}

{% block body %}
    <section class="page-title-area page-title-bg1">
        <div class="container">
            <div class="page-title-content">
                <h1 title="TOURNAMENT">TOURNAMENT</h1>
            </div>
        </div>
    </section>
    {% if registrations is defined %}
    <section class="stream-schedule-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                {% for registration in registrations %}
                <div class="col-lg-6 col-md-12">
                    <div class="single-stream-schedule-box">
                        <span class="date">{{ registration.player.id }}</span>
                        <div class="content">
                            <h3 align="center">{{ registration.player.lastName }} {{ registration.player.firstName }}</h3>
                            <h1 align="center">
                            <a href="{{ path('app_manage_registrations_refuse', {'id': registration.player.id,'tournamentId': registration.tournament.id }) }}"><button class="default-btn disabled" style="pointer-events: all; cursor: pointer;">refuser</button></a>
                            <a href="{{ path('app_manage_registrations_confirm', {'id': registration.player.id,'tournamentId': registration.tournament.id }) }}"><button class="default-btn disabled" style="pointer-events: all; cursor: pointer;">confirmer</button></a>
                            </h1>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}
