{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/courses.css') }}" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Ajoutez d'autres fichiers CSS ici -->
{% endblock %}

{% block body %}
    {% if erreur is defined %}
        <div class="modal fade" id="confirmationPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-bg-danger" id="exampleModalLabel">Message d'erreur</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% if erreur is iterable %}
                            {% for error in erreur %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        {% else %}
                            <div class="text-danger">{{ erreur }}</div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $("#confirmationPopup").on("hidden.bs.modal", function () {
                    window.location.href = "";
                });
                $("#confirmationPopup").modal();
            });
        </script>
    {% endif %}
    <div class="banner-wrapper-area jarallax" data-jarallax='{"speed": 0.3}'>
        <div class="container">
            <div class="banner-wrapper-content">
                <div class="logo">
                    <img src="img/zelda.png" alt="image">
                </div>
                <h1>Tournaments Home</h1>
                <span class="sub-title">Enjoy The tournament</span>
            </div>
        </div>
    </div>
{% endblock %}
